<p id="notice"><%= notice %></p>

<p>
  <strong>Costume:</strong>
  <%= @photo.costume_id %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @photo.commission_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @photo.picture %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
