<div class="header">
	<h1>Web Development</h1>
</div>

<div class="container-fluid projects">
	<div class="row">
	<!-- add night shift, business cards, lapatrona? also fill out descriptions, upload some projects to heroku/ghpages, take screenshots of all -->
		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/melvin.jpg", class: "img-responsive"), code_melvinopolis_path %>
			<p>This website!</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/tts.jpg", class: "img-responsive"), code_tts_path %>
			<p>Tech Talent South - Teaching</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/cards.jpg", class: "img-responsive"), code_cards_path %>
			<p>Business Card Designs</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/la-patrona.jpg", class: "img-responsive"), code_la_patrona_path %>
			<p>La Patrona Bakery</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/night-shift.jpg", class: "img-responsive"), code_night_shift_path %>
			<p>Skookum Night Shift 2.0 - Crown Town Compost</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/www.jpg", class: "img-responsive"), code_women_wine_design_path %>
			<p>Women, Wine, &amp; Web Design - Workshop</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/podkeeper.jpg", class: "img-responsive"), code_podkeeper_path %>
			<p>Podkeeper</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/luis.jpg", class: "img-responsive"), code_lechegaray_path %>
			<p>Luis Echegaray - Portfolio</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/gishwhes.jpg", class: "img-responsive"), code_gishwhes2015_path %>
			<p>GISHWHES 2015</p>
		</div>

		<div class="col-xs-6 col-md-3 center-block">
			<%= link_to image_tag("code/gllry.jpg", class: "img-responsive"), code_gllry_path %>
			<p>gllry: An art portfolio website</p>
		</div>
	</div>
</div>