<p id="notice"><%= notice %></p>

<p>
  <strong>Costume:</strong>
  <%= @image.costume_id %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @image.commission_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
