<div class="header">
	<h1>Contact</h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-8 email">	
			<!-- Placeholder form -->
			<form class="well">
				<legend><%= image_tag('contact/email.png', id: "email") %><h2>Send an email!</h2></legend>
				<p>This form is just a sample and will be functional in the future. For now, please send your emails to <%= link_to "melvinopolis@gmail.com", "mailto:melvinopolis@gmail.com"%>. Thank you!</p>
				<hr>

				<label for="name">Name:</label>
				<input type="text" id="name" name="user_name" class="form-control">
			
				<label for="mail">Email:</label>
				<input type="email" id="mail" name="user_email" class="form-control">

				<label for="subject">Subject:</label>
				<select id="subject" name="email_subject" class="form-control">
					<option value="commissions">Commission Request</option>
					<option value="development">Web Development</option>
					<option value="other">Other</option>
				</select>

				<label for="message">Message:</label>
				<textarea id="message" name="user_message" class="form-control"></textarea>

				<button type="" class="btn btn-default btn-lg">Send</button>
			</form>	
		</div>  		

		<div class="col-xs-12 col-sm-4 contact">
			<ul id="general-links">
				<li id="twitter" class="links"><%= link_to "twitter", "//www.twitter.com/melvinopolis", target: "_blank" %></li>
				<li id="facebook" class="links"><%= link_to "facebook", "//www.facebook.com/melvincosplay", target: "_blank" %></li>
				<li id="instagram" class="links"><%= link_to "instagram", "//www.instagram.com/melvinopolis", target: "_blank" %></li>
			</ul>
			
			<ul id="work-links">
				<li id="github" class="links"><%= link_to "github", "//github.com/melvinopolis", target: "_blank" %></li>
				<li id="linkedin" class="links"><%= link_to "linkedin", "//www.linkedin.com/in/melvinopoils", target: "_blank" %></li>
			</ul> 

			<ul id="cosplay-links">
				<li><%= link_to image_tag("contact/cospix.png", class: "img-responsive"), "//cospix.net/melvinopolis/", target: "_blank" %></li>
				<li><%= link_to image_tag("contact/acp.png", class: "img-responsive"), "//www.acparadise.com/loves/melvin", target: "_blank" %></li>
			</ul>
		</div>
	</div>
</div>	