<div class="header">
	<h1>Web Development</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 notes">
        	<!-- Project Description -->
			<h2>melvinopolis.com</h2>
			
			<span class="title">See the code on </span>
			<%= link_to "Github", "//github.com/melvinopolis/melvinopolis", target: "_blank"%>
		
			<p>
			One of our assignments at Tech Talent South was to create a portfolio site for ourselves using HTML and CSS. I wanted to build a website for myself since long before starting to learn to code, so I was pretty excited. While I was working on it, I realized that to do everything I wanted with my website, I would need more than just HTML and CSS. Plus, since I wanted to include both my development projects and my costuming projects, I would have way too many pages to set up individually! So I decided that I would remake my personal website using Ruby on Rails. 
			</p>
			<p>
			So, while many of the pages are coded individually, I am using Rails to manage and generate the pages and thumbnails for all of the costume and commission pages from the database. I set up an admin area of the site so I will be able to easily add new projects to my database and they will instantly show up in the proper place on the site. On both the "Sort by Year" and "Sort by Genre" pages I have the thumbnail links set up so that the newest additions will be at the top of the list while the oldest uploads appear at the end. 
			</p>
		</div>

        <div class="col-xs-12 col-sm-6">
        	<!-- Thumbnails -->
			<ul class="row code-thumbs">
				<li class="col-xs-12 col-md-6"><%= image_tag('code/melvin-home.jpg', class: "img-responsive", alt: "Home page") %></li>
				<li class="col-xs-12 col-md-6"><%= image_tag('code/melvin-mobile.jpg', class: "img-responsive", alt: "Home page mobile view") %></li>
				<li class="col-xs-12 col-md-6"><%= image_tag('code/melvin-costumes.jpg', class: "img-responsive", alt: "Costume page mobile view") %></li>
				<li class="col-xs-12 col-md-6"><%= image_tag('code/melvin-genres.jpg', class: "img-responsive", alt: "Genres page mobile view") %></li>
				<li class="col-xs-12 col-md-6"><%= image_tag('code/melvin-shops.jpg', class: "img-responsive", alt: "Shops page mobile view") %></li>
			</ul>
		</div>
			
		<!-- Modal Image Gallery -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">         
		            <div class="modal-body">                
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
	</div>
</div>