<div class="header">
	<h1>Shops</h1>
</div>

<div class="container-fluid shop">
	<%= link_to image_tag('//img0.etsystatic.com/site-assets/badges/en/en_isell_3.png', class: "img-responsive"), "//www.etsy.com/shop/melvinopolis?ref=offsite_badges&utm_source=sellers&utm_medium=badges&utm_campaign=en_isell_3", target: "_blank" %>

	<div class="row thumbs">
		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/vivi-pirate.png', class: "img-responsive"), "//www.etsy.com/listing/162203879/vivi-nefertari-one-piece-pirate-cosplay", target: "_blank" %>
		</div>
		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/miss-fortune.png', class: "img-responsive"), "//www.etsy.com/listing/227313845/miss-fortune-league-of-legends-cosplay", target: "_blank" %>
		</div>
		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/fuu.png', class: "img-responsive"), "//www.etsy.com/listing/227345046/fuu-hououji-mkr-cosplay-costume", target: "_blank" %>
		</div>		
	</div>
</div>

<div class="container-fluid shop">
	<%= link_to image_tag('//www.spoonflower.com/assets/promote/RibbonBanner_600x90.jpg', class: "img-responsive"), "//www.spoonflower.com/profiles/melvinopolis", target: "_blank" %>

	<div class="row thumbs">
		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/rwby-plaid.png', class: "img-responsive"), "//www.spoonflower.com/fabric/3961234", target: "_blank" %>
		</div>

		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/sailormoon-plaid.png', class: "img-responsive"), "//www.spoonflower.com/fabric/1548507", target: "_blank" %>
		</div>

		<div class="col-xs-4 center-block">
			<%= link_to image_tag('shops/p5-plaid.png', class: "img-responsive"), "//www.spoonflower.com/fabric/3961006", target: "_blank" %>
		</div>
	</div>
</div>

<div class="container-fluid request">
	<p>For <strong>commission requests and quotes</strong>, please send me an email at <%= link_to "melvinopolis@gmail.com", "mailto:melvinopolis@gmail.com"%>. Include "Commission Request" in the subject line and give the name of the character, the series they are from, and your basic measurements (Bust-Waist-Hip). Clothing size is fine for the initial quote if you do not have access to a measuring tape. Please also attach reference artwork!</p>
</div>